.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url('../../../images/Edit\ Button.png');
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  border: none;
  grid-area: "button";
  }


.profile__edit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

  @media screen and (max-width: 880px) {
    .profile__edit-button {
      width: 18px;
      height: 18px;
    }
  }